header {
    background-color: skyblue;
    font-size: 20px;
    
}

#logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
body{
    background-color: darkgray;
}
a {
    color: black;
    text-decoration: none;
}

#p1 {
    font-size: 20px;
    color :black ;
    background-image: url("https://icdleurope.org/app/uploads/2019/05/ECDL-Logo-Graphic_home.png");
    width: 600px;
    height: 350px;
    padding: 30px;
}

.rightp {
  float: inline-start; 
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  
}

footer{
    background-color : darkblue;
    text-align: center;
    color: white;
    
}